body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, #010626, #2481A6);
    color: #fff;
    margin: 0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background: #031220;
    color: #F2AC29;
    text-align: center;
    padding: 15px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    background: #031220;
    color: #F2AC29;
    text-align: center;
    padding: 15px;
    position: fixed; /*used code from w3schools to make footer stay at the bottom (remember to reference in readme*/
    left: 0;
    bottom: 0;
    width: 100%
}

nav {
    text-align: center;
}

nav a {
    font-family: 'Times New Roman', Times, serif;
    color: #F2AC29;
    font-size: 18px;
}

article {
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    font-size: 20px;
}